<!DOCTYPE html>
<html lang="es">

	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Peliculas</title>
        <!--Booststrap cdn-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
        <!--Main.css-->
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
	</head>

	<body>
        <main class="container p-4">
            <h1 class="display-4 title text-center mt-4">Movies_Views</h1>
            <div class="row">
                <div class="col-md-4 offset-md-4 my-auto">
                    <div class="card">
                        <div class="card-header">
                         
                            <form action="/create-peliculas" method='POST'>
                            <div class="form-group">
                            <input type="text" name="content" placeholder="Pelis" class="form-control" autofocus>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">SAVE
                            </button>
                         </form>
                        </div>
                        <div class="card-body">
                            <ul class="list-group">
                              <!-- {%for peliculas in peliculas%}-->
                                <li class="list-group-item">
                                   <!--<span class="{%if peliculas.done%}done{%endif%}">{{peliculas.content}}</span>-->
                                    <a href="/done/{{pelicula.id}}" class="btn btn-sucess btn-sm">Done</a>
                                
                                    <a href="/delete/{{pelicula.id}}" class="btn btn-danger btn-sm">DELETE</a>
                                </li>

                               <!--  {%endif%}-->
                            
                            </ul>

                    </div>
                    
                    </div>
                    <section>
                    <ul>
                    <li>Thriller
                    <img src="https://th.bing.com/th/id/OIP.wTLYYY9oXmoYhzYYOS7ikAAAAA?w=264&h=180&c=7&r=0&o=5&pid=1.7" alt="Thriller"
                    width="500"
                    height="341" />
                    </li>
                    <br>
                    <li>Animadas
                    <img src="https://th.bing.com/th/id/OIP.LlyloH1-subiH9ouGSwVzgHaEK?w=224&h=180&c=7&r=0&o=5&pid=1.7" alt="Animadas"
                    width="500"
                    height="341" />
                    </li>
                    <li>Amor
                    <img src="https://th.bing.com/th/id/OIP.p1veZCAkHGZfSsphyNW7eAHaDt?w=294&h=175&c=7&r=0&o=5&pid=1.7" alt="Amor"
                    width="500"
                    height="341" />
                    </li>
                    <li>Latinoamericanas
                    <img src="https://th.bing.com/th/id/OIP.vbazZEFKA906DXKprirNQQHaFj?w=163&h=180&c=7&r=0&o=5&pid=1.7" alt="Thriller"
                    width="500"
                    height="341" />
                    </li>
                    <li>Cine Mudo
                        <img src="https://th.bing.com/th/id/OIP.KoOf0rH2BOgQkCS2i4oI7AHaEK?w=291&h=180&c=7&r=0&o=5&pid=1.7" alt="Thriller"
                        width="500"
                        height="341" />
                    </li>
                    </ul>
                </section>
                </div>
            </div>

        </main>
	</body>

</html>
